<!DOCTYPE html>
<html>
  <head>
    <title>Polydesk</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/explorer.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like React, Vue.js, Angular, Ember, and Backbone
        require that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different view engine (handlebars, dust, pug/jade, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->

    <!--TEMPLATES END-->


    <!--
        Server-side View Locals
        ========================

        Sometimes, it's convenient to get access to your server-side view locals from
        client-side JavaScript.  This can improve page load times, remove the need for
        extra AJAX requests, and make your client-side code easier to understand and
        to maintain.  Sails provides a simple mechanism for accessing dynamic view
        locals: the "exposeLocalsToBrowser()" view partial.

        For more information on using this built-in feature, see:
        https://sailsjs.com/docs/concepts/views/locals#?escaping-untrusted-data-using-exposelocalstobrowser

    -->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/dependencies/jquery-3.2.1.min.js"></script>
    <script src="/js/mxClient.js"></script>
    <script src="/js/util/mxUtils.js"></script>
    <script src="/js/util/mxAbstractCanvas2D.js"></script>
    <script src="/js/util/mxAnimation.js"></script>
    <script src="/js/util/mxAutoSaveManager.js"></script>
    <script src="/js/util/mxClipboard.js"></script>
    <script src="/js/util/mxConstants.js"></script>
    <script src="/js/util/mxDictionary.js"></script>
    <script src="/js/util/mxDivResizer.js"></script>
    <script src="/js/util/mxDragSource.js"></script>
    <script src="/js/util/mxEffects.js"></script>
    <script src="/js/util/mxEvent.js"></script>
    <script src="/js/util/mxEventObject.js"></script>
    <script src="/js/util/mxEventSource.js"></script>
    <script src="/js/util/mxForm.js"></script>
    <script src="/js/util/mxGuide.js"></script>
    <script src="/js/util/mxImage.js"></script>
    <script src="/js/util/mxImageBundle.js"></script>
    <script src="/js/util/mxImageExport.js"></script>
    <script src="/js/util/mxLog.js"></script>
    <script src="/js/util/mxMorphing.js"></script>
    <script src="/js/util/mxMouseEvent.js"></script>
    <script src="/js/util/mxObjectIdentity.js"></script>
    <script src="/js/util/mxPanningManager.js"></script>
    <script src="/js/util/mxPoint.js"></script>
    <script src="/js/util/mxPopupMenu.js"></script>
    <script src="/js/util/mxRectangle.js"></script>
    <script src="/js/util/mxResources.js"></script>
    <script src="/js/util/mxSvgCanvas2D.js"></script>
    <script src="/js/util/mxToolbar.js"></script>
    <script src="/js/util/mxUndoableEdit.js"></script>
    <script src="/js/util/mxUndoManager.js"></script>
    <script src="/js/util/mxUrlConverter.js"></script>
    <script src="/js/util/mxVmlCanvas2D.js"></script>
    <script src="/js/util/mxWindow.js"></script>
    <script src="/js/util/mxXmlCanvas2D.js"></script>
    <script src="/js/util/mxXmlRequest.js"></script>
    <script src="/js/shape/mxShape.js"></script>
    <script src="/js/shape/mxActor.js"></script>
    <script src="/js/shape/mxArrow.js"></script>
    <script src="/js/shape/mxArrowConnector.js"></script>
    <script src="/js/shape/mxCloud.js"></script>
    <script src="/js/shape/mxConnector.js"></script>
    <script src="/js/shape/mxCylinder.js"></script>
    <script src="/js/shape/mxDoubleEllipse.js"></script>
    <script src="/js/shape/mxEllipse.js"></script>
    <script src="/js/shape/mxHexagon.js"></script>
    <script src="/js/shape/mxImageShape.js"></script>
    <script src="/js/shape/mxLabel.js"></script>
    <script src="/js/shape/mxLine.js"></script>
    <script src="/js/shape/mxMarker.js"></script>
    <script src="/js/shape/mxPolyline.js"></script>
    <script src="/js/shape/mxRectangleShape.js"></script>
    <script src="/js/shape/mxRhombus.js"></script>
    <script src="/js/shape/mxStencil.js"></script>
    <script src="/js/shape/mxStencilRegistry.js"></script>
    <script src="/js/shape/mxSwimlane.js"></script>
    <script src="/js/shape/mxText.js"></script>
    <script src="/js/shape/mxTriangle.js"></script>
    <script src="/js/workflowGraph.js"></script>
    <script src="/js/editor/mxDefaultKeyHandler.js"></script>
    <script src="/js/editor/mxDefaultPopupMenu.js"></script>
    <script src="/js/editor/mxDefaultToolbar.js"></script>
    <script src="/js/editor/mxEditor.js"></script>
    <script src="/js/handler/mxCellHighlight.js"></script>
    <script src="/js/handler/mxCellMarker.js"></script>
    <script src="/js/handler/mxCellTracker.js"></script>
    <script src="/js/handler/mxConnectionHandler.js"></script>
    <script src="/js/handler/mxConstraintHandler.js"></script>
    <script src="/js/handler/mxEdgeHandler.js"></script>
    <script src="/js/handler/mxEdgeSegmentHandler.js"></script>
    <script src="/js/handler/mxElbowEdgeHandler.js"></script>
    <script src="/js/handler/mxGraphHandler.js"></script>
    <script src="/js/handler/mxHandle.js"></script>
    <script src="/js/handler/mxKeyHandler.js"></script>
    <script src="/js/handler/mxPanningHandler.js"></script>
    <script src="/js/handler/mxPopupMenuHandler.js"></script>
    <script src="/js/handler/mxRubberband.js"></script>
    <script src="/js/handler/mxSelectionCellsHandler.js"></script>
    <script src="/js/handler/mxTooltipHandler.js"></script>
    <script src="/js/handler/mxVertexHandler.js"></script>
    <script src="/js/io/mxCellCodec.js"></script>
    <script src="/js/io/mxChildChangeCodec.js"></script>
    <script src="/js/io/mxCodec.js"></script>
    <script src="/js/io/mxCodecRegistry.js"></script>
    <script src="/js/io/mxDefaultKeyHandlerCodec.js"></script>
    <script src="/js/io/mxDefaultPopupMenuCodec.js"></script>
    <script src="/js/io/mxDefaultToolbarCodec.js"></script>
    <script src="/js/io/mxEditorCodec.js"></script>
    <script src="/js/io/mxGenericChangeCodec.js"></script>
    <script src="/js/io/mxGraphCodec.js"></script>
    <script src="/js/io/mxGraphViewCodec.js"></script>
    <script src="/js/io/mxModelCodec.js"></script>
    <script src="/js/io/mxObjectCodec.js"></script>
    <script src="/js/io/mxRootChangeCodec.js"></script>
    <script src="/js/io/mxStylesheetCodec.js"></script>
    <script src="/js/io/mxTerminalChangeCodec.js"></script>
    <script src="/js/layout/hierarchical/model/mxGraphAbstractHierarchyCell.js"></script>
    <script src="/js/layout/hierarchical/model/mxGraphHierarchyEdge.js"></script>
    <script src="/js/layout/hierarchical/model/mxGraphHierarchyModel.js"></script>
    <script src="/js/layout/hierarchical/model/mxGraphHierarchyNode.js"></script>
    <script src="/js/layout/hierarchical/model/mxSwimlaneModel.js"></script>
    <script src="/js/layout/hierarchical/mxHierarchicalLayout.js"></script>
    <script src="/js/layout/hierarchical/mxSwimlaneLayout.js"></script>
    <script src="/js/layout/hierarchical/stage/mxCoordinateAssignment.js"></script>
    <script src="/js/layout/hierarchical/stage/mxHierarchicalLayoutStage.js"></script>
    <script src="/js/layout/hierarchical/stage/mxMedianHybridCrossingReduction.js"></script>
    <script src="/js/layout/hierarchical/stage/mxMinimumCycleRemover.js"></script>
    <script src="/js/layout/hierarchical/stage/mxSwimlaneOrdering.js"></script>
    <script src="/js/layout/mxCircleLayout.js"></script>
    <script src="/js/layout/mxCompactTreeLayout.js"></script>
    <script src="/js/layout/mxCompositeLayout.js"></script>
    <script src="/js/layout/mxEdgeLabelLayout.js"></script>
    <script src="/js/layout/mxFastOrganicLayout.js"></script>
    <script src="/js/layout/mxGraphLayout.js"></script>
    <script src="/js/layout/mxParallelEdgeLayout.js"></script>
    <script src="/js/layout/mxPartitionLayout.js"></script>
    <script src="/js/layout/mxRadialTreeLayout.js"></script>
    <script src="/js/layout/mxStackLayout.js"></script>
    <script src="/js/model/mxCell.js"></script>
    <script src="/js/model/mxCellPath.js"></script>
    <script src="/js/model/mxGeometry.js"></script>
    <script src="/js/model/mxGraphModel.js"></script>
    <script src="/js/typeColors.js"></script>
    <script src="/js/view/mxCellEditor.js"></script>
    <script src="/js/view/mxCellOverlay.js"></script>
    <script src="/js/view/mxCellRenderer.js"></script>
    <script src="/js/view/mxCellState.js"></script>
    <script src="/js/view/mxCellStatePreview.js"></script>
    <script src="/js/view/mxConnectionConstraint.js"></script>
    <script src="/js/view/mxEdgeStyle.js"></script>
    <script src="/js/view/mxGraph.js"></script>
    <script src="/js/view/mxGraphSelectionModel.js"></script>
    <script src="/js/view/mxGraphView.js"></script>
    <script src="/js/view/mxLayoutManager.js"></script>
    <script src="/js/view/mxMultiplicity.js"></script>
    <script src="/js/view/mxOutline.js"></script>
    <script src="/js/view/mxPerimeter.js"></script>
    <script src="/js/view/mxPrintPreview.js"></script>
    <script src="/js/view/mxStyleRegistry.js"></script>
    <script src="/js/view/mxStylesheet.js"></script>
    <script src="/js/view/mxSwimlaneManager.js"></script>
    <script src="/js/view/mxTemporaryCellStates.js"></script>
    <script src="/js/workflow.js"></script>
    <script src="/js/workflowTerminal.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
