<div class="form-group pb-2 pt-3 px-3 m-0 metadata-field-wrapper">
  <input class="mb-2 form-control-plaintext metadata-field-label text-truncate" value="<%- fieldName %>" readonly></input>
  <!-- append metadata-field-* here -->
</div>
