<div class="mb-2 btn-group metadata-field w-100">
  <div class="mr-1">
    <button type="button" class="bg-light rounded-circle btn metadata-field-repeating-move-up" data-hover="tooltip" data-placement="bottom" title="Move up" data-container=".metadata-field-wrapper">
      <i class="ion-arrow-up-a"></i>
    </button>
  </div>
  <div class="mr-2">
    <button type="button" class="bg-light rounded-circle btn metadata-field-repeating-move-down" data-hover="tooltip" data-placement="bottom" title="Move down" data-container=".metadata-field-wrapper">
      <i class="ion-arrow-down-a"></i>
    </button>
  </div>
  <input class="form-control" fieldtype="<%- type %>" fieldorder="<%- order %>" type="string" value="<%- value %>"></input>
  <div class="ml-2">
    <button type="button" class="bg-light rounded-circle btn metadata-field-repeating-insert" type="button" data-hover="tooltip" data-placement="bottom" title="Insert new value" data-container=".metadata-field-wrapper">
      <i class="icon ion-plus"></i>
    </button>
  </div>
  <div class="ml-1">
    <button type="button" class="bg-light rounded-circle btn metadata-field-delete-item" type="button" data-hover="tooltip" data-placement="bottom" title="Remove value" data-container=".metadata-field-wrapper">
      <i class="icon ion-minus"></i>
    </button>
  </div>
</div>
