<div class="metadata-field">
  <div class="input-group-prepend-locked hidden">
    <button class="bg-light btn btn-outline-secondary metadata-field-move-up" type="button"><i class="icon ion-chevron-up"></i></button>
    <button class="bg-light btn btn-outline-secondary metadata-field-move-down" type="button"><i class="icon ion-chevron-down"></i></button>
  </div>
  <input class="form-control" fieldtype="<%- type %>" fieldorder="<%- order %>" type="string" value="<%- value %>"></input>
  <div class="input-group-append-locked hidden">
    <button class="bg-light btn btn-outline-secondary metadata-field-delete" type="button"><i class="icon ion-close"></i></button>
    <button class="bg-light btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%- typeString %></button>
    <div class="dropdown-menu metadata-field-type-dropdown">
      <a class="dropdown-item" fieldtype="S" href="#"><i class="ion-quote mr-4"></i>String</a>
      <a class="dropdown-item" fieldtype="N" href="#"><i class="ion-pound mr-4"></i>Number</a>
      <a class="dropdown-item" fieldtype="B" href="#"><i class="ion-checkmark mr-4"></i>Boolean</a>
      <a class="dropdown-item" fieldtype="P" href="#"><i class="ion-pinpoint mr-4"></i>Precision number</a>
      <a class="dropdown-item" fieldtype="F" href="#"><i class="ion-flash mr-4"></i>Formula</a>
    </div>
  </div>
</div>
