<div class="metadata-set" setname="<%- setName %>" setorder="<%- setOrder %>" locked="locked">
  <div class="px-3 pt-3">
    <div class="btn-group w-100">
      <input class="mr-2 form-control-plaintext text-truncate metadata-set-label font-weight-bold" value="<%- setName %>" readonly></input>
      <div class="mr-1">
        <button class="btn rounded-circle btn-light metadata-add-field" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="ion-plus"></i>
        </button>
        <div class="dropdown-menu metadata-add-field-dropdown">
          <a class="dropdown-item" fieldtype="S" href="#"><i class="ion-quote mr-4"></i>New string</a>
          <a class="dropdown-item" fieldtype="N" href="#"><i class="ion-pound mr-4"></i>New number</a>
          <a class="dropdown-item" fieldtype="B" href="#"><i class="ion-checkmark mr-4"></i>New boolean</a>
          <a class="dropdown-item" fieldtype="P" href="#"><i class="ion-pinpoint mr-4"></i>New precision number</a>
          <a class="dropdown-item" fieldtype="F" href="#"><i class="ion-flash mr-4"></i>New formula</a>
          <hr>
          <h6 class="dropdown-header">List metadata</h6>
          <a class="dropdown-item" fieldtype="NL" href="#"><i class="ion-pound mr-4"></i>New number list</a>
          <a class="dropdown-item" fieldtype="PL" href="#"><i class="ion-pinpoint mr-4"></i>New precision number list</a>
        </div>
      </div>
      <div>
        <button class="btn rounded-circle btn-light metadata-set-actions" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="ion-more"></i>
        </button>
        <div class="dropdown-menu metadata-set-actions-dropdown">
          <a class="dropdown-item metadata-set-move-up" href="#"><i class="ion-arrow-up-a mr-4"></i>Move up</a>
          <a class="dropdown-item metadata-set-move-down" href="#"><i class="ion-arrow-down-a mr-4"></i>Move down</a>
          <a class="dropdown-item metadata-set-delete" href="#"><i class="ion-close mr-4"></i>Delete</a>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="metadata-set-fields">
    <%
      var orderedFields = Object.keys(metadataSet).sort(function (a, b) {
        if (typeof(metadataSet[a].order) === 'number' && typeof(metadataSet[b].order) !== 'number') {
          return -1;
        } else if (typeof(metadataSet[a].order) !== 'number' && typeof(metadataSet[b].order) === 'number') {
          return 1;
        } else if (typeof(metadataSet[a].order) !== 'number' && typeof(metadataSet[b].order) !== 'number') {
          return 0;
        }
        return metadataSet[a].order - metadataSet[b].order;
      });

      orderedFields.forEach(function (key) {
    %>
    <%-
      include('metadata-field.ejs', {
        metadataField: metadataSet[key],
        fieldName: key
      });
    %>
    <%
      });
    %>
  </div>
</div>
