body {
  background: #afafaf;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
}

.page {
  position: relative;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

@import 'viewer/search.less';
@import 'viewer/text-layer.less';
