html, body {
  height: 100%;
}

.hidden {
  display: none;
}

#viewer {
  padding: 0px;
}

.page {
  position: relative;
  display: block;
  margin: 25px auto;
}

input.form-control {
  min-width: 60px;
}

.metadata-set .btn-group {
  max-width: 100%;
}

.tooltip {
  left: 10px;
}

@media only screen and (min-width: 576px) {
  #properties {
    overflow-y: scroll;
  }

  #viewer {
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 575px) {
  #properties {
  }
}

.metadata-set-lock i {
  opacity: 1;
}

.metadata-set-unlock i {
  opacity: 0.4;
}

.bg-primary-op {
  background-color: rgba(0, 123, 255, 0.3) !important;
}

.bg-secondary-op {
  background-color: rgba(108, 117, 125, 0.3) !important;
}

.bg-success-op {
  background-color: rgba(40, 167, 69, 0.3) !important;
}

.bg-danger-op {
  background-color: rgba(220, 53, 69, 0.3) !important;
}

.bg-warning-op {
  background-color: rgba(255, 193, 7, 0.3) !important;
}

.bg-info-op {
  /* Make this one more opaque to help distinguish it from bg-primary-op */
  background-color: rgba(23, 162, 184, 0.2) !important;
}

@import 'viewer/search.less';
@import 'viewer/text-layer.less';
