html, body {
  height: 100%;
}

.hidden {
  display: none;
}

.page {
  position: relative;
  display: block;
  margin: 25px auto;
}

input.form-control {
  min-width: 60px;
}

.metadata-set .btn-group {
  max-width: 100%;
}

.tooltip {
  left: 10px;
}

@media only screen and (max-width: 575px) {
  /* Show properties panel above document */
  #properties {
    z-index: 1000;
  }

  #viewer-actions {
    z-index: 2000;
  }

  #metadata {
    padding-bottom: 30px;
  }
}

i {
  display: inline-block;
  width: 14px;
}

@media only screen and (min-width: 576px) {
  /* Always display collapsed sections when not in mobile screen */
  #properties.collapse {
    display: block !important;
  }

  #metadata {
    padding-bottom: 300px;
  }

  #properties {
    position: fixed;
    overflow-y: scroll;
    top: 55px;
    bottom: 0px;
  }

  #viewer {
    position: fixed;
    overflow-y: scroll;
    top: 55px;
    bottom: 0px;
  }
}

.metadata-set {
  position: relative;
}

.metadata-set-lock i {
  opacity: 1;
}

.metadata-set-unlock i {
  opacity: 0.4;
}

.bg-info-op {
  /* Make this one more opaque to help distinguish it from bg-primary-op */
  background-color: rgba(23, 162, 184, 0.2) !important;
}

@import 'viewer/search.less';
@import 'viewer/text-layer.less';
