<h1><%- metadataGroup.name -%></h1>
<table>
  <tbody>
    <% metadataFields.forEach(function (field) { %>
      <tr>
        <td><input type="text" value="<%- field.name -%>"></input>
        </td>
        <td>
          <select value="<%- field.type -%>">
            <option value="string">string</option>
            <option value="decimal">decimal</option>
          </select>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>
<br>
<a href="<%- sails.getUrlFor('MetadataGroupController.groups') -%>">Back</a>
