<div class="container-fluid h-100">
  <div class="row border border-bottom-1 border-top-0 border-left-0 border-right-0 border-secondary bg-light">
    <nav class="navbar navbar-expand-sm justify-content-between w-100">
      <div>
        <button class="navbar-toggler properties-panel-toggle" type="button">
          <span><i class="ion-navicon"></i></span>
        </button>
        <button class="navbar-toggler text-primary viewer-panel-toggle" type="button">
          <span><i class="ion-document"></i></span>
        </button>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#viewer-actions">
        <span><i class="ion-more"></i></span>
      </button>
      <div id="viewer-actions" class="collapse navbar-collapse">
        <div class="mt-2 hidden-sm-up"></div>
        <button type="button" class="mr-sm-1 btn btn-light btn-outline-primary document-viewer-apply">Apply</button>
        <button type="button" class="mr-sm-1 btn btn-light btn-outline-secondary document-viewer-close">Close</button>
        <button type="button" class="mr-sm-1 btn rounded-circle btn-light btn-outline-secondary viewer-action new-metadata-set" data-toggle="tooltip" data-placement="bottom" data-container="#viewer-menu" title="New Metadata Set"><i class="ion-compose"></i></button>
        <button type="button" class="mr-sm-1 btn rounded-circle btn-light btn-outline-secondary viewer-action" data-toggle="tooltip" data-placement="bottom" data-container="#viewer-menu" title="Add Metadata Template"><i class="ion-code"></i></button>
        <button type="button" class="mr-sm-1 btn rounded-circle btn-light btn-outline-secondary viewer-action" data-toggle="tooltip" data-placement="bottom" data-container="#viewer-menu" title="Zoom In"><i class="ion-plus"></i></button>
        <button type="button" class="mr-sm-1 btn rounded-circle btn-light btn-outline-secondary viewer-action" data-toggle="tooltip" data-placement="bottom" data-container="#viewer-menu" title="Zoom Out"><i class="ion-minus"></i></button>
      </div>
    </nav>
    <!-- <nav class="navbar w-100 px-0 justify-content-between">
      <div class="d-inline col-sm-5 col-md-4 col-lg-3">
        <button type="button" class="btn btn-light btn-outline-secondary d-xs-block d-sm-none d-md-none d-lg-none d-xl-none" data-toggle="collapse" data-target="#properties"><i class="ion-navicon"></i></button>
        <button type="button" class="btn btn-light btn-outline-primary document-viewer-apply">Apply</button>
        <button type="button" class="btn btn-light btn-outline-secondary document-viewer-close">Close</button>
        <button type="button" class="mr-4 btn btn-light btn-outline-secondary d-xs-block d-sm-none d-md-none d-lg-none d-xl-none" data-toggle="collapse" data-target="#viewer-actions"><i class="ion-more"></i></button>
      </div>
      <div id="viewer-actions" class="collapse p-4-sm bg-white col-sm-7 col-md-8 col-lg-9">
        <button type="button" class="btn rounded-circle btn-light btn-outline-secondary viewer-action new-metadata-set" data-toggle="tooltip" data-placement="bottom" data-container="#viewer-menu" title="New Metadata Set"><i class="ion-compose"></i></button>
        <button type="button" class="btn rounded-circle btn-light btn-outline-secondary viewer-action" data-toggle="tooltip" data-placement="bottom" data-container="#viewer-menu" title="Add Metadata Template"><i class="ion-code"></i></button>
        <button type="button" class="btn rounded-circle btn-light btn-outline-secondary viewer-action" data-toggle="tooltip" data-placement="bottom" data-container="#viewer-menu" title="Zoom In"><i class="ion-plus"></i></button>
        <button type="button" class="btn rounded-circle btn-light btn-outline-secondary viewer-action" data-toggle="tooltip" data-placement="bottom" data-container="#viewer-menu" title="Zoom Out"><i class="ion-minus"></i></button>
      </div>
    </nav> -->
    <div id="properties" class="px-0 collapse col-sm-5 col-md-4 col-lg-3 bg-white">
      <%-
        include('viewer/metadata.ejs', {
          metadataSets: metadataSets
        });
      %>
    </div>
    <div id="viewer" class="pdf-viewer offset-sm-5 offset-md-4 offset-lg-3 col-xs-6 col-sm-7 col-md-8 col-lg-9 bg-secondary-op" data-url="<%- documentUrl -%>">
    </div>
  </div>
</div>


<!-- <div class="container-fluid">

<div id="viewer" class="pdf-viewer m-0 border bg-secondary-op" data-url="<%- documentUrl -%>">
  <div id="search" class="modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Search</h5>
        </div>
        <div class="modal-body">
          <input id="search-input" type="text" placeholder="Enter your search text"></input>
        </div>
        <div class="modal-footer">
          <button id="search-next-result" type="button" class="btn">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="row col-lg-3 col-md-4 col-sm-5 p-0">
    <div class="border border-bottom-1 border-top-0 border-left-0 border-right-0 border-secondary">
      <nav class="navbar navbar-fixed-top">
        <div class="d-inline">
          <button type="button" class="btn btn-light btn-outline-primary document-viewer-apply">Apply</button>
          <button type="button" class="btn btn-light btn-outline-primary document-viewer-save">Save</button>
          <button type="button" class="btn btn-light btn-outline-secondary document-viewer-close">Close</button>
        </div>
      </nav>
    </div>
      <div class="row col-lg-3 col-md-4 col-sm-5 p-0">
      <div id="properties" class="col-lg-3 col-md-4 col-sm-5 p-0">
      </div>
    </div>
  </div>
  <div class="row col-lg-9 col-md-8 col-sm-7 p-0 justify-content-between">
    <div id="viewer-menu">
      <nav class="navbar navbar-fixed-top">
        <div>
          <button type="button" class="btn rounded-circle btn-light btn-outline-secondary viewer-action new-metadata-set" data-toggle="tooltip" data-placement="bottom" data-container="#viewer-menu" title="New Metadata Set"><i class="ion-compose"></i></button>
          <button type="button" class="btn rounded-circle btn-light btn-outline-secondary viewer-action" data-toggle="tooltip" data-placement="bottom" data-container="#viewer-menu" title="Add Metadata Template"><i class="ion-code"></i></button>
        </div>
        <div>
          <button type="button" class="btn rounded-circle btn-light btn-outline-secondary viewer-action" data-toggle="tooltip" data-placement="bottom" data-container="#viewer-menu" title="Zoom In"><i class="ion-plus"></i></button>
          <button type="button" class="btn rounded-circle btn-light btn-outline-secondary viewer-action" data-toggle="tooltip" data-placement="bottom" data-container="#viewer-menu" title="Zoom Out"><i class="ion-minus"></i></button>
        </div>
        <div>
        </div>
      </nav>
    </div>
    <div class="row col-lg-9 col-md-8 col-sm-7 p-0 justify-content-between">
    </div>
  </div>
</div> -->

<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();

    $(document).on('click', '.viewer-action', function () {
      var self = this;

      setTimeout(function () {
        self.blur();
      }, 150);
    });

    $(document).on('click', '.properties-panel-toggle', function () {
      $(this).addClass('text-primary');
      $('.viewer-panel-toggle').removeClass('text-primary');
      $('#viewer').addClass('collapse');
      $('#properties').removeClass('collapse');
    });

    $(document).on('click', '.viewer-panel-toggle', function () {
      $(this).addClass('text-primary');
      $('.properties-panel-toggle').removeClass('text-primary');
      $('#properties').addClass('collapse');
      $('#viewer').removeClass('collapse');
    });

    // Move a field up
    $(document).on('click', '.metadata-field-move-up', function () {
      var current = $(this).closest('.form-group');
      var prev = current.prevAll('.form-group:first');

      if (prev.length !== 1) {
        return;
      }

      var currentOrder = current.find('.form-control').attr('fieldorder');
      var prevOrder = prev.find('.form-control').attr('fieldorder');

      current.insertBefore(prev);
      current.find('.form-control').attr('fieldorder', prevOrder);
      prev.find('.form-control').attr('fieldorder', currentOrder);
    });

    // Move a field down
    $(document).on('click', '.metadata-field-move-down', function () {
      var current = $(this).closest('.form-group');
      var next = current.nextAll('.form-group:first');

      if (next.length !== 1) {
        return;
      }

      var currentOrder = current.find('.form-control').attr('fieldorder');
      var nextOrder = next.find('.form-control').attr('fieldorder');

      current.insertAfter(next);
      current.find('.form-control').attr('fieldorder', nextOrder);
      next.find('.form-control').attr('fieldorder', currentOrder);
    });

    // Move an item up
    $(document).on('click', '.metadata-field-move-item-up', function () {
      var current = $(this).closest('.metadata-field');
      var prev = current.prevAll('.metadata-field:first');

      if (prev.length !== 1) {
        return;
      }

      var currentOrder = current.find('.form-control').attr('fieldorder');
      var prevOrder = prev.find('.form-control').attr('fieldorder');

      current.insertBefore(prev);
    });

    // Move an item down
    $(document).on('click', '.metadata-field-move-item-down', function () {
      var current = $(this).closest('.metadata-field');
      var next = current.nextAll('.metadata-field:first');

      if (next.length !== 1) {
        return;
      }

      var currentOrder = current.find('.form-control').attr('fieldorder');
      var nextOrder = next.find('.form-control').attr('fieldorder');

      current.insertAfter(next);
    });

    // Clicking on a formula to edit
    $(document).on('dblclick', '.metadata-field .form-control[fieldtype="F"]', function () {
      var metadataField = $(this).closest('.metadata-field');


      $(this).removeAttr('readonly');
      $(this).val(decodeURI($(this).attr('formula')));

      $(this).one('focusout', function () {
        $(this).val($(this).attr('calculated'));
        $(this).prop('readonly', true);
        $(this).off('change').off('keydown');
      });

      $(this).one('change', function () {
        $(this).attr('formula', encodeURI($(this).val()));
        $(this).attr('calculated', 'Please save and reload');
        $(this).val($(this).attr('calculated'));
        $(this).prop('readonly', true);
        $(this).off('focusout').off('keydown');
      });

      $(this).on('keydown', null, 'return', function () {
        $(this).attr('formula', encodeURI($(this).val()));
        $(this).attr('calculated', 'Please save and reload');
        $(this).focusout().off('change');
      });
    });

    $(document).on('click', '.metadata-field-delete', function () {
      $(this).closest('.form-group').remove();
    });

    $(document).on('click', '.metadata-field-delete-item', function () {
      $(this).closest('.metadata-field').remove();
    });

    $(document).on('click', '.document-viewer-close', function () {
      // TODO: Alert if modifications that aren't saved
      window.location.pathname = '/documents';
    });

    $(document).on('click', '.metadata-set-label, .metadata-field-label', function () {
      if ($(this).hasClass('form-control-plaintext')) {
        $(this).addClass('form-control').removeClass('form-control-plaintext').removeAttr('readonly').focus();
        $(this).on('keydown', null, 'return', function () {
          $(this).focusout();
        });
      }
    });

    $(document).on('focusout', '.metadata-set-label, .metadata-field-label', function () {
      if ($(this).hasClass('form-control')) {
        $(this).removeClass('form-control').addClass('form-control-plaintext').prop('readonly', true);
        $(this).off('keydown');
      }
    });

    $(document).on('click', '.metadata-field-type-dropdown .dropdown-item', function () {
      var fieldType = $(this).attr('fieldtype');
      var metadataField = $(this).closest('.metadata-field-wrapper');
      var control = metadataField.find('.form-control');

      control.attr('fieldtype', fieldType);

      switch (fieldType) {
      case 'S':
        metadataField.find('.metadata-field-type i').removeClass().addClass('ion-quote');
        break;
      case 'B':
        metadataField.find('.metadata-field-type i').removeClass().addClass('ion-checkmark');
        break;
      case 'N':
        metadataField.find('.metadata-field-type i').removeClass().addClass('ion-pound');
        break;
      case 'P':
        metadataField.find('.metadata-field-type i').removeClass().addClass('ion-pinpoint');
        break;
      case 'F':
        metadataField.find('.metadata-field-type i').removeClass().addClass('ion-flash');
        break;
      }
    });

    $(document).on('click', '.new-metadata-set', function () {
      var order = $('.metadata-set').length;

      $(window.JST['views/pages/viewer/shared/metadata-set.ejs']({
        setName: 'New Metadata Set',
        setOrder: order,
        metadataSet: {}
      })).appendTo('#metadata');
    });

    $(document).on('click', '.metadata-add-field-dropdown > .dropdown-item', function () {
      var metadataSet = $(this).closest('.metadata-set');
      var fieldOrder = metadataSet.find('.metadata-field').length;
      var fieldType = $(this).attr('fieldtype');

      switch (fieldType) {
      case 'S':
        metadataField = $(window.JST['views/pages/viewer/shared/metadata-field-simple.ejs']({
          type: fieldType,
          typeString: 'String',
          order: fieldOrder,
          value: ''
        }));
        break;
      case 'N':
        metadataField = $(window.JST['views/pages/viewer/shared/metadata-field-simple.ejs']({
          type: fieldType,
          typeString: 'Number',
          order: fieldOrder,
          value: ''
        }));
        break;
      case 'B':
        metadataField = $(window.JST['views/pages/viewer/shared/metadata-field-simple.ejs']({
          type: fieldType,
          typeString: 'Boolean',
          order: fieldOrder,
          value: ''
        }));
        break;
      case 'P':
        metadataField = $(window.JST['views/pages/viewer/shared/metadata-field-simple.ejs']({
          type: fieldType,
          typeString: 'Precision',
          order: fieldOrder,
          value: ''
        }));
        break;
      case 'F':
        metadataField = $(window.JST['views/pages/viewer/shared/metadata-field-formula.ejs']({
          type: fieldType,
          typeString: 'Formula',
          order: fieldOrder,
          value: '',
          calculated: '',
          formula: ''
        }));
        break;
      default:
        return;
      }

      var metadataFieldWrapper = $(window.JST['views/pages/viewer/shared/metadata-field.ejs']({
        fieldName: 'New Metadata Field',
        fieldType: fieldType
      }));

      metadataFieldWrapper.appendTo(metadataSet.find('.metadata-set-fields'));
      metadataField.appendTo(metadataFieldWrapper);
    });
  });
</script>
