<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap PDF Viewer</title>
    <!-- Twitter Bootstrap -->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <!-- Viewer -->
    <link rel="stylesheet" href="/styles/viewer.css">
  </head>
  <body>
    <!-- Popper.js -->
    <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
    <!-- in-view.js -->
    <script src="/dependencies/in-view.min.js"></script>
    <!-- Twitter Bootstrap -->
    <script src="/dependencies/bootstrap.min.js"></script>

    <!-- Bootstrap PDF Viewer -->
    <div id="viewer" class="pdf-viewer" data-url="/documents/sample.pdf">
      <div class="textLayer">
      </div>
    </div>

    <script src="/js/pdf.min.js"></script>

    <script src="/js/viewer.js"></script>
  </body>
</html>
