<!-- Bootstrap PDF Viewer -->
<div id="viewer" class="pdf-viewer" data-url="/documents/sample.pdf">
  <div id="search" class="modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Search</h5>
        </div>
        <div class="modal-body">
          <input id="search-input" type="text" placeholder="Enter your search text"></input>
        </div>
      </div>
    </div>
  </div>
</div>
